
# application config
/Application/Config/config.php

# application cache
/Application/Storage/Cache/**
!/Application/Storage/Cache/.gitkeep
!/Application/Storage/Cache/Minify/.gitkeep

# application logs
/Application/Storage/Logs/**
!/Application/Storage/Logs/.gitkeep

# Bower components
/Components/**
!/Components/.gitkeep

# Composer packages
/vendor/
