
# application config
/Application/Config/config.php
/Application/Config/installed

# application cache
/Application/Storage/Cache/**
!/Application/Storage/Cache/.gitkeep
!/Application/Storage/Cache/Minify/.gitkeep

# application logs
/Application/Storage/Logs/**
!/Application/Storage/Logs/.gitkeep

# Bower components
/bower_components/

# Composer packages
/vendor/

# Nodes packages
/node_modules/
